body {
    background-color: #e74c3c;
    
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
    
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0; padding: 0;
    font-size: 18px;
}

@keyframes bg-color {
    0%   { background-color: #9400D3; }
    20%  { background-color: #4B0082; }
    40%  { background-color: #0000FF; }
    60%  { background-color: #00FF00; }
    80%  { background-color: #FFFF00; }
    100% { background-color: #FF7F00; };
}

#profile_image, #header_image {
   float: left;   
   height: 200px;
    
   background-position: center;
   background-size:     cover;
}
#profile_image {    
   width: 200px;  
   background-image: url('/assets/jek.jpg');
}
#header_image {
    width: calc(100% - 200px);
    background-image: url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/730/730717-bigthumbnail.jpg');
}
