.white-stroke {
  text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
               #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  color: white;
  -webkit-font-smoothing: antialiased;
}
.white-stroke-2 {
  text-shadow: #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px,
               #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px;
  color: white;
  -webkit-font-smoothing: antialiased;
}
.black-stroke {
  text-shadow: #fff 0px 0px 2px,   #fff 0px 0px 2px,   #fff 0px 0px 2px,
               #fff 0px 0px 2px,   #fff 0px 0px 2px,   #fff 0px 0px 2px;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0; padding: 0;

  background-color: orange;
  background: #5938d1; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #5938d1 0%, #e53d6d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #5938d1 0%,#e53d6d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #5938d1 0%,#e53d6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5938d1', endColorstr='#e53d6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 70%;
  margin: auto;

  border-right: dotted white 1px;
  border-left: dotted white 1px;
}

#me_container {
  text-align: center;
  margin-bottom: 30px;
}
#me {
  width: 300px;
  height: 300px;
  border-radius: 150px;

  /*border-style: dotted;*/
  padding: 5px;
  border: dotted white 2px;
}

#big_text {
  font-size:    50px;
  font-family: 'Slabo 27px', 'Droid Serif', Arial;
  text-align:   center;
  text-transform: uppercase;

  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  transition: all .8s ease;

  width: auto;
  padding: 4px 4px 50px 40px;
}
#change {
  font-weight: bold;
  font-family: 'Droid Serif', Arial;
  font-size: 100px;
}

.divider {
  width: 80%;
}
