body {
    background-color: #e74c3c;
    
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
    
    color: #fff;
    font-family: 'Raleway', sans-serif;
    margin: 0; padding: 0;
    font-size: 18px;
}

@keyframes bg-color {
    0%   { background-color: #e53935; }
    20%  { background-color: #880e4f; }
    40%  { background-color: #1e88e5; }
    60%  { background-color: #00e676; }
    80%  { background-color: #eeff41; }
    100% { background-color: #f4511e; };
}

#profile_image, #header_image {
   float: left;   
   height: 200px;
}
#profile_image {
   width: 20%;  
   background-image: url('/assets/jek.jpg');
}
#header_image {
    width: 80%;
}
